1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [34]:
for i in range(1,100,1):
    if i % 3 == 0:
        print ("Mickey")
    elif i % 5 == 0:
        print ("Mouse")
    else:
        print (i)
        

a=[]
for i in range(1,100,1):
    if i % 3 == 0:
        a.insert(i,"Mickey")
    elif i % 5 == 0:
        a.insert(i,"Mouse")
    else:
        a.insert(i,i)    

for j in range(len(a)):
    if a[j] == "Mickey":
        a[j] = "Donald"
    elif a[j] == "Mouse":
        a[j] = "Duck"
    else:
        pass

print (a)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
Mickey
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
Mickey
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
Mickey
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
Mickey
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
Mickey
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
Mickey
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'Donald', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'Donald', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'Donald', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'Donald', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'Donald', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'Donald', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [43]:
b = [input("Insert the first number"),input("Insert the second number")]
def my_function(a,b):
    result = [b,a]
    return result

my_function(b[0],b[1])

Insert the first number78
Insert the second number25929582946

['25929582946', '78']

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [89]:
def distance(a,b):
    result = (((a[0]-b[0])**2)+((a[1]-b[1])**2))**0.5
    return result

distance([3,0],[0,4])

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [81]:
s="Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse"
alf=['a','b','c','d','e','f','g','h','i','l','m','n','o','p','q','r','s','t','u','v','z']

for i in range(len(alf)):
    print(s.count(alf[i]))

7
4
3
3
22
9
1
9
14
6
8
10
13
8
0
17
9
19
9
2
0

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [97]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]


for i in range(len(l)):
    s=(l.count(l[i]))
    if s == 1:
        print (l[i])

58
74
96
64
10
24
19
33
86
99
18
47
88
55
54
8
79
81
57
37
1
9
95
90
98
39
16
82
92
41
30
94
5
72
87
75
53

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [101]:
def square(a):
    result = a**(0.5)
    return result

def pow_3(a):
    result = a**(3)
    return result


a=square(4)
b=pow_3(4)

def third(a,b):
    result = b/a
    return result
third(a,b)

32.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [114]:
cubes = [0,0,0,0,0,0,0,0,0,0]
for i in range (1,10,1):
    cubes[i]=i**3
print (cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [125]:
for a in range
b=4
def pyth(a,b):
    result = (a**2)+(b**2)
    return result

c_sq=pyth(a,b)
if c_sq == (a**2)+(b**2):
    print (a,b,(c_sq)**(0.5))
    
# da finire

3 4 5.0

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [ ]:
# da fare